PORT=8080

# DB_TYPE: sqlite or mysql
DB_TYPE=sqlite

# SQLite
DB_SQLITE_PATH=./data/zingo.db

# MySQL
# DB_TYPE=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_NAME=zingo
# DB_USER=zingo
# DB_PASS=zingo
